body {
    background-color: black;
    font-family: bodoni-urw, serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    padding:0px;
}

.container {
    width:768px;
    height:1024px;
    margin: 0 auto;
}

.box {
    width: 708px;
    height 964px;
    margin: 0 auto;
}

.header {
    height:30px; 
}

.title {
    font-style: normal;
    font-size: 40px;
    margin-bottom: -10px;

}

h3 {
    margin-top: 0px;
    
}

/*Letter and Button Section*/

.letter-container {
    width:491px;
    display: flex;
    align-items: baseline;
    justify-content: center;
    margin-left: 100px;
    margin-bottom: 10px;
    
}

     
.letter-container h1 {
    font-size:480px;
    font-weight:normal;
    margin-left:30.28px;
    margin-right:30.28px;
    margin-top:-70px;
    margin-bottom:-60px;
    
}

#button.tilda {
    font-size: 500px;
    margin-bottom: -290px;
    margin-top: -350px;
    margin-left: 220px;
}
       
}

.examples {
    width:300px;
    font-size: 100px;
    margin-right: 40px; 
    margin-left: 25px;
    margin-top: 0px;
    align-content: flex-start; 
    letter-spacing: 10px; 
    

}

.letters-body-paragraph {
    display: flex;
    margin: 0 auto;
    margin-bottom: 10px;
}

.about-me {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-right: 0px;
    margin-left: 29px;
    font-size: 50px;
}

.assets/Meagan-Photo.jpg {
    margin-right: 10px;
}

.personal-info {
    margin-left: 10px;
    margin-right: auto;
    font-size: 10px;
}

.about-me-sources {
    display: flex;
    align-items: flex-start;
    margin-bottom: 30px;
    margin-left: 25px;
    
    
}

.sources {
    font-size: 10px;
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 10px;
    width: 300px;
}

.title-paragraph {
    margin-right: 0px; 
    margin-left: 0px;
    margin-top: 0px;
    align-items: flex-start;
    width: 300px;
}

a {
    color: red;
    text-decoration: none;
    
}

a:visited {
    color: aquamarine;
    
}

    